extends layout

block body
  .parallax-container.valign-wrapper
    .parallax
      img(src="/images/cap.jpg", alt="cap")
    .valign(style="width: 100%;")
      h1.center-align.deep-orange-text.text-accent-2(style="font-size: 9rem"): strong Error 404

  script.
    $('.parallax').parallax()

